
.sopra{
  position: fixed;
  height: 100px;
  background-color: #00000082;
  width: 100%;
}
.centro{
  height: 1500px;
  background-color: #141922;
  width: 100%;
}

.barrafissa{
  display: inline-block;
  width: 100%;
  height:80px;
  background-color:#282828;
  position: fixed;
  bottom: 0;
  overflow: hidden;
}
.destra{
  text-align: left;
  display: inline-block;
  position:fixed;
  height: 100%;
  width: 200px;
  background-color: black;
  color:white;
  font-size: 25px;
}
.fab{
  height: 50px;
  width: 50px;
}
#testo{
  float: right;
  margin-right: 50px;
  margin-top:8px;
}
.lista ul li{
  padding-top:5px;
  font-size: 15px;
  list-style-type: none;
  color:grey;
}
#giu{
  margin-top:20px;
  font-size:12px;
  color:white;
}
#bottone{
  text-align: center;
  padding-top:-15px;
  height:32px;
  width: 32px;
  background-color:grey;
  border:none;
}
#bottone p{
  margin-bottom:5px;
  font-size:25px;
  color:black;
}
.distanza{
  margin-top:10px;
}
.sottosotto{
  display: inline-block;
  margin-left:15px;
  padding-top:225px;
  color:grey;
  font-size:15px;
}
.sottosotto hr{
  margin-left:10px;
  color:grey;
  width:80%;
}
.sottosotto p{
  color:white;
}
.lista{
  padding-top:50px;
}
.la{
  margin-left:15px;
}
#upgrade{
  padding-top:5px;
  margin-top:20px;
  opacity:1;
  float: right;
  height:40px;
  width:200px;
  background-color: black;
  border-radius:50px;
  font-size: 15px;
  border:1px solid white;
}
.bianco p{

  color:white;
}
ul.menu li {
  display: inline;
  padding-right:20px;

}
.lista li:hover{
  color:white;
  border-left: green 2px solid;

}
.menu{
  text-align: center;
  margin-left:200px;
  padding-top:120px;
}
.menu a{
  color:grey;
}
.spotify{
  padding-top:15px;
  padding-left:10px;
}
.lista ul{
  padding-left:0px;
}
.lista ul li{
  padding-left:40px;
}
.menu ul li{
  list-style-type: none;
}
.menu li:hover{
  color:white;
  border-bottom: green 2px solid;
  border-left: none;
}

a:hover{
  text-decoration: none;
}
a:hover::after {
  content:'';
  position:absolute;
  width:20px;
  height:1px;
  background:green;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.ascoltati h1{
  color:white;
  font-size: 30px;
  padding-left:220px;
  padding-top:20px;
}
.icona-musica{
  padding-right:15px;
  padding-left:220px;
  display: flex;
  justify-content: space-between;
}
.ascoltati h2{
  font-size:12px;
  color:grey;
  padding-left:220px;
}

.prova{
  text-align: center;
 width: 14%;
}
.prova img{
  width: 100%;
}
@media screen and (max-width: 992px){
  .prova img{
   width: 100px;
  }
}
.immagini{
  display: inline-block;
}
.secondo{
  float:left;
}
.dopo{
  padding-left:220px;
  display: flex;
  justify-content: flex-start;
}
.spazio{
  margin-right:20px;
}
.rotondo img{
  border-radius: 100%;
}
.testofoto{
  margin-top:15px;
}
.testofoto h1{
  font-size: 15px;
  color:white;
  margin:0;
  padding:0;
}
.testofoto h2{
  color:grey;
  margin:0;
  padding:0;
}


.uno{
  padding-left:15px;
  padding-top:15px;
}
/* .icone{
  display: flex;
  justify-content: flex-start;
} */
.bianchino{
  color:white;
  font-size: 10px;
}
.grigino{
padding-bottom:20px;
    color:grey;
    font-size: 10px;
  }
.fa-heart{
  padding-top:18px;
}
.fa-folder{
    padding-top:18px;
    padding-left:7px;
}
.immaginini{
  width: 50%;
}

.immaginini img{
padding-bottom:5px;
  height: 50px;

  float:left;
}
.claas{
  width: 100%;
}
.red{
  padding-right: 50px;
  height: 80px;
  width: 100%;
}
.blue{
  height:40px;
  width:100%;
}
.yellow{
  height: 40px;
}
.pink{
  height: 80px;

  width:100%;
}
.due{
  text-align: center;
}
.fa-random {

  padding-right:20px;
}
.fa-step-backward{
  padding-right:20px;
}
.fa-play-circle{
  padding-right:20px;
}
.fa-step-forward{
    padding-right:20px;
}
.yellow hr{
  color:grey;

}
.pink{
  display: inline-block;
}
.fa-tv{
  padding-left:10%;
padding-top:30px;
}
.fa-volume-up{
  padding-left:20px;
}
.fa-bars{
  padding-left:10%;
}
.primo{
  text-align: center;
  width: 50%;
}
.secondo{
  width: 50%;
}
